<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.OrderAreaDao">
    <insert id="insertOrderArea" useGeneratedKeys="true" keyProperty="orderAreaId">
        insert into
            order_area
            (book_area_id, order_id)
        values (
         #{bookAreaId}, #{orderId}
        )
    </insert>
    <select id="findOrderAreaByOrderId" resultType="com.sh.model.entity.OrderArea">
        select
            *
        from
            order_area
        where
            order_id = #{orderId}
    </select>
</mapper>