<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.OrderDao">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into
        `order`
        values (
        null, #{quantity}, #{bookId}, #{inWarehousingId}, #{null}
        )
    </insert>
    <select id="findOrderByOrderId" resultType="com.sh.model.dto.OrderDto">
        select
            order_id, book_id, quantity, ISBN, title, author
        from
            `order` o
        left join
            book on o.book_id = book.book_id
        where
            order_id = #{orderId}
    </select>

    <select id="findOrderByInWarehousingId" resultType="com.sh.model.dto.OrderDto">
        select
            order_id, book_id,quantity, ISBN, title, author
        from
            `order` o
        left join
            book on o.book_id = book.book_id
        where
            in_warehousing_id = #{inWarehousingId}
    </select>
    <select id="findPublisherIdByOrderId" resultType="java.lang.Integer">
        select
            publisher_id
        from
            `order`
        join
            in_warehousing on `order`.in_warehousing_id = in_warehousing.in_warehousing_id
        join
            publisher_manager on in_warehousing.publisher_manager_id = publisher_manager.publisher_manager_id
        where
            order_id = #{orderId}
    </select>
</mapper>