<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.ExWarehousingDao">
    <insert id="insertExWarehousing">
        insert into
            ex_warehousing
        (date, status, publisher_manager_id)
        values (
        #{date}, #{status}, #{publisherManagerId}
        )
    </insert>
    <insert id="insertOrders">
        insert into
        `order` (quantity, book_id, ex_warehousing_id)
        values
        <foreach collection="orderList" item="order" separator=",">
            (#{order.quantity}, #{order.bookId}, #{exWarehousingId})
        </foreach>
    </insert>
    <!--    <insert id="save" useGeneratedKeys="true" keyProperty="exWarehousingId">-->
<!--        insert into-->
<!--            ex_warehousing-->
<!--        values (-->
<!--            null, #{address}, #{receiver}, #{receiver_phone}, #{}-->
<!--        )-->
<!--    </insert>-->

    <select id="findExWarehousingByStatus" resultType="com.sh.model.entity.ExWarehousing">
        select
            *
        from
            ex_warehousing
        where
            status = #{status}
    </select>

    <update id="updateExWarehousingStatus">
        update
            ex_warehousing
        set
            status = #{status},
            inventory_manager_id = #{inventoryManagerId}
        where
            ex_warehousing_id = #{exWarehousingId}
    </update>

    <select id="findExWarehousingByPublisher" resultType="com.sh.model.entity.ExWarehousing">
        select
            *
        from
            ex_warehousing
        join
            publisher_manager on ex_warehousing.publisher_manager_id = publisher_manager.publisher_manager_id
        where
            publisher_manager.publisher_id = #{publisherId}
    </select>

    <select id="findExWarehousingByPublisherManager" resultType="com.sh.model.entity.ExWarehousing">
        select
            *
        from
            ex_warehousing
        where
            publisher_manager_id = #{publisherManagerId}
    </select>

    <select id="findExWarehousingByPublisherIdAndStatus" resultType="com.sh.model.entity.ExWarehousing">
        select
            *
        from
            ex_warehousing
        join
            publisher_manager on ex_warehousing.publisher_manager_id = publisher_manager.publisher_manager_id
        where
            publisher_manager.publisher_id = #{publisherId}
        and
            status = #{status}
    </select>

    <select id="findExWarehousingByPublisherManagerIdAndStatus" resultType="com.sh.model.entity.ExWarehousing">
        select
            *
        from
            ex_warehousing
        where
            publisher_manager_id = #{publisherManagerId}
        and
            status = #{status}
    </select>
</mapper>