<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.GenreDAO">
    <select id = "findGenreId" resultType="java.lang.Integer">
        select genre_id
        from genre
        where name = #{genreName}
    </select>
</mapper>