<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.BookDAO">
    <insert id="insertBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into Book
        (book_id, title, ISBN, publisher_id, pub_date,genre_id, price, author, pages, size )
        values
        (0, #{title}, #{ISBN}, #{publisherId}, #{pubDate},#{genreId}, #{price}, #{author}, #{pages}, #{size})
    </insert>

    <select id="findBookByISBN" resultMap="bookStockDto">
        select *
        from book
        left join book_area
        on book.book_id = book_area.book_id
        where
            ISBN = #{ISBN}
    </select>


    <update id = "updateInforamtion">
        Update Book
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="ISBN != null">ISBN = #{ISBN},</if>
            <if test="publisherId != null">publisher_id = #{publisherId},</if>
            <if test="genreId != null">genre_id = #{genreId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="pubDate != null">pub_date = #{pubDate},</if>
            <if test="author != null">author = #{author},</if>
            <if test="pages != null">pages = #{pages},</if>
            <if test="size != null">size = #{size}</if>
        </set>
        where ISBN = #{ISBN}
    </update>

    <delete id = 'deleteBook'>
        delete from book
        where ISBN = #{ISBN}
    </delete>

    <select id="findAll" resultType="com.sh.model.dto.bookDto.Book">
        select b.* , p.name
        from Book b join publisher p
        on b.publisher_id = p.publisher_id
        where b.publisher_id = #{id}
        order by book_id
    </select>

    <select id="findBookIdByPublisherIdAndISBN" resultType="int" >
        select book_id
        from book
        where publisher_id = #{publisherId} AND ISBN = #{ISBN}
    </select>


    <resultMap id="bookStockDto" type="com.sh.model.dto.bookDto.Book">
        <id column="book_id" property="bookId"/>
        <result column="title" property="title"/>
        <result column="ISBN" property="ISBN"/>
        <result column="publisher_id" property="publisherId"/>
        <result column="pub_date" property="pubDate"/>
        <result column="genre_id" property="genreId"/>
        <result column="price" property="price"/>
        <result column="author" property="author"/>
        <result column="pages" property="pages"/>
        <collection property="bookAreaList" ofType="com.sh.model.entity.BookArea">
            <id column="book_area_id" property="bookAreaId"/>
            <id column="book_id" property="bookId"/>
            <result column="area_id" property="areaId"/>
            <result column="quantity" property="quantity"/>
            <result column="reserved" property="reserved"/>
        </collection>
    </resultMap>

</mapper>